:root {
  --font-text: 'Roboto', sans-serif;
  --primary-1: #3498db;
  --primary-2: #2980b9;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --gray-1: #f6f6f6;
  --gray-2: #ddd;
  --text-color: #444;
  --text-light: white;
  --border: 1px solid var(--gray-2);
  --radius: 4px;
}
